@import "tailwindcss";

@theme {
  --color-primary: oklch(0.7 0.14 200);
  --color-secondary: oklch(0.8 0.1 250);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
